<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <title>IPFS Desktop Loading</title>
    <body style="background-color: black;">
        <span style="color: white;" id="showStr"></span>
    </body>
<script>
(async ()=>{
    const {ipcRenderer,app} = require('electron');
    const { exec, execSync } = require('child_process');
    const { Writable } = require('stream');
    const os = require('os');
    const appInfo = require('../util/getAppInfo');
    let indexModule = require('../module/index.js');
    let showLikeCommand = require('../util/showLikeCommand.js');
    let titleDom = document.getElementsByTagName("title")[0];
    showLikeCommand(titleDom, '...',true,false,500);
    let showSpanDom = document.getElementById("showStr");
    await showLikeCommand(showSpanDom, '$ ipfs init\n');
    await showLikeCommand(showSpanDom, indexModule.outputInit());
    showSpanDom.innerText = '';
    await showLikeCommand(showSpanDom, '$ ipfs daemon\n');
    let outStr = '';
    let apiStr = 'API server listening on ';
    function changeWin() {
        let  addressApiRows = outStr.split(/[\n\r]+/);
        for (let thisEows of addressApiRows) {
            if(thisEows.indexOf(apiStr)>-1) {
                let addressApiList = thisEows.split('/');
                ipcRenderer.sendSync('change-win', `http://${addressApiList[2]}:${addressApiList[4]}/webui/`);
                break;
            }
        }
    }
    let writeStream = new Writable({
        write(chunk, encoding, callback) {
            let chunkStr = chunk.toString();
            if (chunkStr.indexOf('Error')>-1) {
                let runningStr = 'ipfs daemon is running';
                if (chunkStr.indexOf(runningStr)>-1 || chunkStr.indexOf('cannot acquire lock')>-1 ) {
                    outStr+=runningStr +os.EOL+ apiStr + execSync(`${appInfo.ipfs_file_path} config Addresses.API`).toString();
                    showLikeCommand(showSpanDom, outStr).then((res)=>{
                        changeWin();
                    });
                } else {
                    showLikeCommand(showSpanDom, chunkStr).then((res)=>{
                        app.quit();
                    })
                }
            } else {
                if (chunkStr.indexOf('Daemon is ready')>-1) {
                    showLikeCommand(showSpanDom, chunkStr).then((res)=>{
                        changeWin();
                    });
                } else {
                    outStr+=chunkStr;
                    showLikeCommand(showSpanDom, chunkStr).then((res)=>{
                        callback()
                    });
                }
            } 
        }
    });
    let childDaemon = indexModule.outputDaemon(writeStream);
    ipcRenderer.on('close-win', (event, arg) => {
        if (childDaemon!=null) {
            childDaemon.kill();
            // if (process.platform=='win32') {
            //     execSync(`taskkill /pid ${childDaemon.pid} /T /F`)
            // }
        }
    })
})();

setInterval(()=>{
    window.scrollTo(0,document.body.scrollHeight);
},500)
</script>
</html>