<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <title>IPFS Desktop Loading</title>
    <body style="background-color: black;">
        <span style="color: white;" id="showStr"></span>
    </body>
<script>
(async ()=>{
    const {ipcRenderer} = require('electron')
    let indexModule = require('../module/index.js');
    let showLikeCommand = require('../util/showLikeCommand.js');
    let titleDom = document.getElementsByTagName("title")[0];
    showLikeCommand(titleDom, '...',true,false,500);
    let showSpanDom = document.getElementById("showStr");
    await showLikeCommand(showSpanDom, '$ ipfs init\n');
    await showLikeCommand(showSpanDom, indexModule.outputInit());
    showSpanDom.innerText = '';
    await showLikeCommand(showSpanDom, '$ ipfs daemon\n');
    let addressApi = await indexModule.outputDaemon();
    let  addressApiRows = addressApi.split(/[\n\r]+/);
    let addressApiList = addressApiRows[addressApiRows.length-2].split('/');
    await showLikeCommand(showSpanDom, addressApi);
    console.log(`http://${addressApiList[2]}:${addressApiList[4]}/webui/`)
    ipcRenderer.sendSync('change-win', `http://${addressApiList[2]}:${addressApiList[4]}/webui/`)
})();
</script>
</html>